*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
html,body{
	height: 100%;
	width:100%;
	background: #222;
	color: #fff;
	font-weight: 600;
}

#main{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

content{
	width:60vw;
	height:60vh;
	border: 0.1em solid #fff;
	border-radius: 3vw;
	padding: 8vh 3vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
content p{
	width:80%;
	margin-top:10vh;
}
content h1{
	font-size: 0.9em;
	margin:6vh 4vw 0 0;
	align-self: flex-end;
	display: flex;
	align-items: center;
	gap:1vw;
}
content h1 span{
	background: #fff;
	height: 0.2em;
	width:3vw;
	border: 0.2em solid #fff;
	display: block;
	border-radius: 2vw;
}
button{
	width: 50%;
	border: 0;
	padding: 2vh 0;
	position: absolute;
	bottom:10%;
	background: #fff;
	color:#000;
	border-radius: 4vw;

}
button:active{
		background: #dcd;
		color:#000;
		border: 0;
	}


@media(max-width: 380px){
	content{
		width: 100vw;
		max-height: 100vh;
	}
	button{
		width:90%;
		transition: none;
		padding: 2vh 0;

	}
	button:hover{
		background: transparent;
		color:#fff;
	}
	button:active{
		background: #fff;
		color:#000;
		border: 0;
	}
}


